partial/force-app/main/default/flows/CPD_After_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Correct_Employee_Year</name>
        <label>Set Correct Employee Year</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Salesperson_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Correct_Salesperson_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Salesperson_Record</name>
        <label>Set Salesperson Record</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Salesperson_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSalespersonRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Salesperson_Record</name>
        <label>Check Salesperson Record</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wrong_Salesperson_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Salesperson_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Salesperson_Record.Year__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CourseYear_Fml</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Correct_Salesperson_Record</targetReference>
            </connector>
            <label>Wrong Salesperson Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Salesperson_Record2</name>
        <label>Check Salesperson Record</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Create_Salesperson_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Correct_Salesperson_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Correct_Salesperson_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Correct_Employee_Year</targetReference>
            </connector>
            <label>Has Correct Salesperson Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CourseYear_Fml</name>
        <dataType>String</dataType>
        <expression>TEXT(
IF(
MONTH({!$Record.Date_Completed__c}) &gt;= 10,
YEAR({!$Record.Date_Completed__c}) + 1,
YEAR({!$Record.Date_Completed__c})
)
)</expression>
    </formulas>
    <formulas>
        <name>SalespersonRecord_Fml</name>
        <dataType>String</dataType>
        <expression>{!$Record.Salesperson_Record__r.Owner:User.Name} &amp; &quot; - &quot; &amp; {!CourseYear_Fml}</expression>
    </formulas>
    <interviewLabel>CPD After Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPD After Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Salesperson_Record</name>
        <label>Create Salesperson Record</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignRecordIdToReference>NewSalespersonRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Salesperson_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SalespersonRecord_Fml</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Salesperson_Record__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>CourseYear_Fml</elementReference>
            </value>
        </inputAssignments>
        <object>Salesperson_Record__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Correct_Salesperson_Record</name>
        <label>Get Correct Salesperson Record</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Salesperson_Record2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Salesperson_Record__r.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseYear_Fml</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Salesperson_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesperson_Record</name>
        <label>Get Salesperson Record</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Salesperson_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Salesperson_Record__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Salesperson_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Salesperson_Record</targetReference>
        </connector>
        <object>CPD_Course_Certificate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewSalespersonRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
