partial/force-app/main/default/flows/Opportunity_Address_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>Latitudee</name>
        <dataType>String</dataType>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Opportunity Address Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Address Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getting_Unit_Record</name>
        <label>getting Unit Record address fields</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit_Id__c</elementReference>
            </value>
        </filters>
        <object>Unit__c</object>
        <outputAssignments>
            <assignToReference>AddressLine1</assignToReference>
            <field>Address_Line_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AddressLine2</assignToReference>
            <field>Address_Line_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Addressline3</assignToReference>
            <field>Address_Line_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AdressLine4</assignToReference>
            <field>Address_Line_4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BuildingName</assignToReference>
            <field>BuildingName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BuildingNum</assignToReference>
            <field>BuildingNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CountryCode</assignToReference>
            <field>Country_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnitLatitude</assignToReference>
            <field>Latitude__Latitude__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnitLongitude</assignToReference>
            <field>Latitude__Longitude__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PostalCode</assignToReference>
            <field>Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>localtimezone</assignToReference>
            <field>localTimeZone__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Address</name>
        <label>Update Opp Address</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>AddressLine1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_2__c</field>
            <value>
                <elementReference>AddressLine2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_3__c</field>
            <value>
                <elementReference>Addressline3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_4__c</field>
            <value>
                <elementReference>AdressLine4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuildingName__c</field>
            <value>
                <elementReference>BuildingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuildingNumber__c</field>
            <value>
                <elementReference>BuildingNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Code__c</field>
            <value>
                <elementReference>CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude__Latitude__s</field>
            <value>
                <elementReference>UnitLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude__Longitude__s</field>
            <value>
                <elementReference>UnitLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Time_Zone__c</field>
            <value>
                <elementReference>localtimezone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getting_Unit_Record</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AddressLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressLine2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Addressline3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdressLine4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuildingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuildingNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuildingNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>localtimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitLatitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UnitLongitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
