partial/force-app/main/default/flows/Transaction_AML_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_AML_Search_and_PDF_API</name>
        <label>Call AML Search and PDF API</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>AmlCalloutInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Contact_Again</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>Get_Contact.Country__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateOfBirth</name>
            <value>
                <elementReference>Get_Contact.Birthdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gender</name>
            <value>
                <elementReference>Get_Contact.Gender__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Get_Contact.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>AMLResult_Fml</name>
        <dataType>String</dataType>
        <expression>IF( {!Get_Contact_Again.PEP_Flagged__c},
&quot;⛔ Contact is Politically Exposed Person.&quot;,
&quot;✅ Contact is not Politically Exposed Person.&quot;) 
&amp; &quot; &quot; &amp;
IF( {!Get_Contact_Again.SIP_Flagged__c},
&quot;⛔ Contact is Special Interest Person.&quot;,
&quot;✅ Contact is not Special Interest Person.&quot;)</expression>
    </formulas>
    <interviewLabel>[Transaction] AML Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Transaction] AML Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Transaction.Primary_Contact_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Again</name>
        <label>Get Contact Again</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction</name>
        <label>Get Transaction</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Call_AML_Search_and_PDF_API</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <screens>
        <name>Contact_Details</name>
        <label>Contact Details</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Contact.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Contact.Birthdate</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Contact.Gender__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Contact.Country__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CheckCompleted</name>
            <fieldText>&lt;p&gt;AML Check is completed!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!AMLResult_Fml}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
