partial/force-app/main/default/flows/Transaction_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Fields</name>
        <label>Set Fields</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameWithNextRunningNumber_Fml</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Fields0</name>
        <label>Set Fields</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameWithNewRunningNumber_Fml</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Latest_Transaction</name>
        <label>Check Latest Transaction</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_Fields0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Latest_Transaction_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Transaction_Today</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields</targetReference>
            </connector>
            <label>Latest Transaction Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NameWithNewRunningNumber_Fml</name>
        <dataType>String</dataType>
        <expression>{!NameWithoutRunningNr_Fml} &amp; &quot;001&quot;</expression>
    </formulas>
    <formulas>
        <name>NameWithNextRunningNumber_Fml</name>
        <dataType>String</dataType>
        <expression>{!NameWithoutRunningNr_Fml} &amp; {!NextRunningNrText_Fml}</expression>
    </formulas>
    <formulas>
        <name>NameWithoutRunningNr_Fml</name>
        <dataType>String</dataType>
        <expression>&quot;D&quot; 
&amp; IF(TEXT({!$Record.Opportunity__r.CountryISOCode__c})  = &quot;AE&quot;, &quot;DB&quot;, IF(ISBLANK(TEXT({!$Record.Opportunity__r.CountryISOCode__c})), TEXT({!$Record.Contact__r.CountryISOCode__c}),
TEXT({!$Record.Opportunity__r.CountryISOCode__c})))
&amp; RIGHT(TEXT(YEAR({!$Flow.CurrentDate})),2) 
&amp; IF(MONTH({!$Flow.CurrentDate}) &lt; 10, &quot;0&quot;, &quot;&quot;) &amp; TEXT(MONTH({!$Flow.CurrentDate}))
&amp; IF(DAY({!$Flow.CurrentDate}) &lt; 10, &quot;0&quot;, &quot;&quot;) &amp; TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>NextRunningNrText_Fml</name>
        <dataType>String</dataType>
        <expression>IF({!NextRunningNrVal_Fml} &lt; 10, &quot;00&quot;, IF({!NextRunningNrVal_Fml} &lt;100, &quot;0&quot;, &quot;&quot;) ) &amp; TEXT({!NextRunningNrVal_Fml})</expression>
    </formulas>
    <formulas>
        <name>NextRunningNrVal_Fml</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT({!Get_Latest_Transaction_Today.Name}, 3)) + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Transaction Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Latest_Transaction_Today</name>
        <label>Get Latest Transaction Today</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Latest_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>NameWithoutRunningNr_Fml</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transaction__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Latest_Transaction_Today</targetReference>
        </connector>
        <object>Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
