partial/force-app/main/default/flows/Transaction_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_AML_Search_and_PDF_API</name>
        <label>Call AML Search and PDF API</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>AmlCalloutInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>Get_Contact.Country__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateOfBirth</name>
            <value>
                <elementReference>Get_Contact.Birthdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gender</name>
            <value>
                <elementReference>Get_Contact.Gender__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>ContactName_Fml</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Has Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ContactFields</name>
        <label>Check Contact Fields</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Contact_Mandatory_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Birthdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Gender__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_AML_Search_and_PDF_API</targetReference>
            </connector>
            <label>Has Contact Mandatory Fields</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContactName_Fml</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact.FirstName} &amp; &quot; &quot; &amp; {!Get_Contact.LastName}</expression>
    </formulas>
    <interviewLabel>Transaction After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ContactFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contact</targetReference>
        </connector>
        <object>Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
