partial/force-app/main/default/flows/Unit_Address_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Address_as_Name</name>
        <label>Assign Address as Name</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>UnitNameConcatenate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Unit_Address__Street__s} {!$Record.Unit_Address__City__s} {!$Record.Unit_Address__PostalCode__s}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unit_Name</name>
        <label>Unit Name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>UnitNameConcatenate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Unit_Address__Street__s} {!$Record.Unit_Address__City__s} {!$Record.Unit_Address__PostalCode__s}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Unit_Address_Check</name>
        <label>Unit Address Check</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Unit_Address_Not_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit_Address__Street__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Unit_Address__Street__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Address__City__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Unit_Address__City__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Address__PostalCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Unit_Address__PostalCode__s</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Name</targetReference>
            </connector>
            <label>Unit Address Not Blank</label>
        </rules>
        <rules>
            <name>New_Unit_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Address_as_Name</targetReference>
            </connector>
            <label>New Unit Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Unit Address Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unit Address Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Unit</name>
        <label>Update Unit</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>UnitNameConcatenate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Unit_Address_Check</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND  4</filterLogic>
        <filters>
            <field>Unit_Address__Street__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Unit_Address__City__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Unit_Address__PostalCode__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reapit_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Unit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Concatenate Address (Street - City - Postal Code)</description>
        <name>UnitNameConcatenate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
