partial/force-app/main/default/flows/User_Before_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Set text fields from picklists.</description>
        <name>Set_Fields</name>
        <label>Set Fields</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.CountryISOCodeText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CountryISOCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RegionText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set the &apos;Locale Settings&apos; fields value according to the User Country ISO Code and Region, from the &apos;Countries Settings&apos; Custom Metadata Type</description>
        <name>Set_the_Locale_Settings_Fields</name>
        <label>Set the Locale Settings Fields</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMT_Countries_Setting.Time_Zone_Side_Key__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMT_Countries_Setting.Locale_Sid_Key__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMT_Countries_Setting.Language_Locale_Key__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DefaultCurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMT_Countries_Setting.Currency_ISO_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMT_Countries_Setting.Currency_ISO_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMT_Countries_Setting.Country_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check the records found from metadata.</description>
        <name>Matching_CMT_Has_Been_Found</name>
        <label>Matching CMT Has Been Found</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CMT_Countries_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Locale_Settings_Fields</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>User Before Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Before Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the &apos;Countries Setting&apos; Custom Metadata Type in order to find the proper values for each field under &apos;Local Settings&apos; of the User.</description>
        <name>Get_CMT_Countries_Setting</name>
        <label>Get CMT Countries Setting</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_CMT_Has_Been_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_ISO_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CountryISOCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Countries_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CMT_Countries_Setting</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CountryISOCode__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
