partial/force-app/main/default/flows/User_After_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_OrgWideInternal_PSG</name>
        <label>Assign OrgWideInternal PSG</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>OrgWideInternalPSA.PermissionSetGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OrgWideInternal_PSG.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrgWideInternalPSA.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OrgWideInternal_PSG_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Profile_PSG</name>
        <label>Assign Profile PSG</label>
        <locationX>50</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>ProfilePSA.PermissionSetGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profile_PSG.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProfilePSA.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Profile_PSG_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Old_PSA</name>
        <label>Check Old PSA</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Get_Profile_PSG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Profile_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_PSA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProfilePermissionSetGroupName_Fml</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ProfilePermissionSetGroupName_Old_Fml</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_PSA</targetReference>
            </connector>
            <label>Profile Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OrgWideInternal_PSG_Assignment</name>
        <label>Check OrgWideInternal PSG Assignment</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Assign_OrgWideInternal_PSG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrgWideInternal_PSG_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OrgWideInternal_PSG_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_PSG</targetReference>
            </connector>
            <label>OrgWideInternal PSG Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Profile_PSG_Assignment</name>
        <label>Check Profile PSG Assignment</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Profile_PSG_Exist_Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Profile_PSG</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Profile_PSG_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Profile_PSG</targetReference>
            </connector>
            <label>Profile PSG Exist &amp; Not Assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ProfilePermissionSetGroupName_Fml</name>
        <dataType>String</dataType>
        <expression>&quot;Profile_&quot; &amp;  SUBSTITUTE({!$Record.Profile.Name}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <name>ProfilePermissionSetGroupName_Old_Fml</name>
        <dataType>String</dataType>
        <expression>&quot;Profile_&quot; &amp;  SUBSTITUTE({!$Record__Prior.Profile.Name}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <interviewLabel>User After Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User After Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OrgWideInternal_PSG_Assignment</name>
        <label>Create OrgWideInternal PSG Assignment</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Get_Old_PSG</targetReference>
        </connector>
        <inputReference>OrgWideInternalPSA</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Profile_PSG_Assignment</name>
        <label>Create Profile PSG Assignment</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <inputReference>ProfilePSA</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_PSA</name>
        <label>Delete Old PSA</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Get_Profile_PSG</targetReference>
        </connector>
        <inputReference>Get_Old_PSA</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Old_PSA</name>
        <label>Get Old PSA</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Old_PSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_PSG.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_PSG</name>
        <label>Get Old PSG</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Old_PSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfilePermissionSetGroupName_Old_Fml</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrgWideInternal_PSG</name>
        <label>Get OrgWideInternal PSG</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrgWideInternal_PSG_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OrgWideInternal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrgWideInternal_PSG_Assignment</name>
        <label>Get OrgWideInternal PSG Assignment</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OrgWideInternal_PSG_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OrgWideInternal_PSG.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_PSG</name>
        <label>Get Profile PSG</label>
        <locationX>182</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile_PSG_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfilePermissionSetGroupName_Fml</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_PSG_Assignment</name>
        <label>Get Profile PSG Assignment</label>
        <locationX>182</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Profile_PSG_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Profile_PSG.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OrgWideInternal_PSG</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>UserType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrgWideInternalPSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>ProfilePSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
